#Ignore modules
node_modules
coverage

#Ignore database files
/database

#Ignore Test Environment
/commands
config.json
src/tests/
plugins
/index.js
.idea
.vscode
.DS_Store
/dist
ignore
/lib/**/index.js
.ignore
.tmp
.coverage
pnpm-lock.yaml
