{
	"$schema": "https://swc.rs/schema.json",
	"module": {
		"type": "es6",
		"resolveFully": true
	},
	"jsc": {
	  "parser": {
		"syntax": "typescript",
		"jsx": false,
		"dynamicImport": true,
		"privateMethod": true,
		"functionBind": true,
		"exportDefaultFrom": true,
		"exportNamespaceFrom": true,
		"decorators": true,
		"decoratorsBeforeExport": true,
		"topLevelAwait": true,
		"importMeta": true
	  },
	  "target": "esnext",
	  "baseUrl": "./",
	  "paths": {
		"@aoi.js/*": ["./src/*"],
		"@aoirepo/*": ["../../*"]
	  },
	  "loose": false,
	  "externalHelpers": false,
	  // Requires v1.2.50 or upper and requires target to be es2016 or upper.
	  "keepClassNames": true,
	  "preserveAllComments": true
	},
	"minify": false
  }