@keyframes open {
    0% {
        opacity: 0;
        height: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}
@keyframes close {
    0% {
        height: auto;
        opacity: 1;
    }
    70% {
        height: auto;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --dark-color-background: rgb(6, 11, 28) !important;
}
a {
    color: #f492f1;
    text-decoration: none;
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}

a::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -5px;
    width: 2px;
    height:0%;
    background-image: linear-gradient(
        to bottom,
        #f492f1,
        hsla(258, 40%, 68%, 1)
    );
}
a:hover::after {
    height: 100%;
}
.current,
a:hover {
    color: #a08dce;
}
* a:hover {
    text-decoration: none !important;
}
.tsd-checkbox-background {
    fill: #2b2b2b !important;
}
.tsd-filter-input svg {
    border-radius: 100% !important;
}
details[open] summary ~ * {
    animation: open 0.5s;
}
details:not([open]) summary ~ * {
    animation: close 1  s;
}

.tsd-generator > p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.tsd-generator > p > span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
.tsd-index-accordion .tsd-accordion-summary > svg,
a,
a::after {
    transition: 0.5s;
}

.tsd-index-accordion .tsd-accordion-summary {
    display: flex;
    justify-content: flex-start;
    gap:4px;
    align-items: center;
}

.tsd-accordion-details {
    height:0px;
    transition: 500ms;
}

.tsd-index-accordion[open] .tsd-accordion-details {
    height: auto;
}

.col-sidebar {
    overflow-x: hidden;
}

a {
    word-break: break-all;
}

.tsd-index-accordion .tsd-accordion-summary > h3 {
    display: flex;
    justify-content: flex-start;
    gap:4px;
    align-items: center;
}

.tsd-page-toolbar {
    background-color: rgb(6, 11, 28);
    border-bottom: none;
}

.tsd-page-toolbar .tsd-toolbar-contents {
    
}

.results {
    background-color: rgb(6, 11, 28);
}

#tsd-search .results li:nth-child(even) {
    background-color: #f492f155;
}

.tsd-search .results li.current,#tsd-search .results li:hover,#tsd-search.has-focus {
    background-color: #56337755 !important;
    transition: 500ms;
}


@media (max-width: 769px) {
html .col-sidebar {
    width: 90%;
}

a {
    font-size:12px;
}

.tree ~ * {
    padding: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.tree-content,.tree-content ~ *,.tree-content ~ * {
    padding: 0;
}

}