:root {
    --light-hl-0: #AF00DB;
    --dark-hl-0: #89DDFF;
    --light-hl-1: #000000;
    --dark-hl-1: #BABED8;
    --light-hl-2: #000000;
    --dark-hl-2: #89DDFF;
    --light-hl-3: #000000;
    --dark-hl-3: #F07178;
    --light-hl-4: #001080;
    --dark-hl-4: #BABED8;
    --light-hl-5: #A31515;
    --dark-hl-5: #89DDFF;
    --light-hl-6: #A31515;
    --dark-hl-6: #C3E88D;
    --light-hl-7: #0000FF;
    --dark-hl-7: #C792EA;
    --light-hl-8: #0070C1;
    --dark-hl-8: #BABED8;
    --light-hl-9: #0000FF;
    --dark-hl-9: #89DDFF;
    --light-hl-10: #795E26;
    --dark-hl-10: #82AAFF;
    --light-hl-11: #098658;
    --dark-hl-11: #F78C6C;
    --light-hl-12: #008000;
    --dark-hl-12: #676E95;
    --light-hl-13: #795E26;
    --dark-hl-13: #BABED8;
    --light-hl-14: #267F99;
    --dark-hl-14: #FFCB6B;
    --light-hl-15: #001080;
    --dark-hl-15: #F07178;
    --light-hl-16: #001080;
    --dark-hl-16: #89DDFF;
    --light-code-background: #FFFFFF;
    --dark-code-background: #292D3E;
}

@media (prefers-color-scheme: light) { :root {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --hl-2: var(--light-hl-2);
    --hl-3: var(--light-hl-3);
    --hl-4: var(--light-hl-4);
    --hl-5: var(--light-hl-5);
    --hl-6: var(--light-hl-6);
    --hl-7: var(--light-hl-7);
    --hl-8: var(--light-hl-8);
    --hl-9: var(--light-hl-9);
    --hl-10: var(--light-hl-10);
    --hl-11: var(--light-hl-11);
    --hl-12: var(--light-hl-12);
    --hl-13: var(--light-hl-13);
    --hl-14: var(--light-hl-14);
    --hl-15: var(--light-hl-15);
    --hl-16: var(--light-hl-16);
    --code-background: var(--light-code-background);
} }

@media (prefers-color-scheme: dark) { :root {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --hl-2: var(--dark-hl-2);
    --hl-3: var(--dark-hl-3);
    --hl-4: var(--dark-hl-4);
    --hl-5: var(--dark-hl-5);
    --hl-6: var(--dark-hl-6);
    --hl-7: var(--dark-hl-7);
    --hl-8: var(--dark-hl-8);
    --hl-9: var(--dark-hl-9);
    --hl-10: var(--dark-hl-10);
    --hl-11: var(--dark-hl-11);
    --hl-12: var(--dark-hl-12);
    --hl-13: var(--dark-hl-13);
    --hl-14: var(--dark-hl-14);
    --hl-15: var(--dark-hl-15);
    --hl-16: var(--dark-hl-16);
    --code-background: var(--dark-code-background);
} }

:root[data-theme='light'] {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --hl-2: var(--light-hl-2);
    --hl-3: var(--light-hl-3);
    --hl-4: var(--light-hl-4);
    --hl-5: var(--light-hl-5);
    --hl-6: var(--light-hl-6);
    --hl-7: var(--light-hl-7);
    --hl-8: var(--light-hl-8);
    --hl-9: var(--light-hl-9);
    --hl-10: var(--light-hl-10);
    --hl-11: var(--light-hl-11);
    --hl-12: var(--light-hl-12);
    --hl-13: var(--light-hl-13);
    --hl-14: var(--light-hl-14);
    --hl-15: var(--light-hl-15);
    --hl-16: var(--light-hl-16);
    --code-background: var(--light-code-background);
}

:root[data-theme='dark'] {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --hl-2: var(--dark-hl-2);
    --hl-3: var(--dark-hl-3);
    --hl-4: var(--dark-hl-4);
    --hl-5: var(--dark-hl-5);
    --hl-6: var(--dark-hl-6);
    --hl-7: var(--dark-hl-7);
    --hl-8: var(--dark-hl-8);
    --hl-9: var(--dark-hl-9);
    --hl-10: var(--dark-hl-10);
    --hl-11: var(--dark-hl-11);
    --hl-12: var(--dark-hl-12);
    --hl-13: var(--dark-hl-13);
    --hl-14: var(--dark-hl-14);
    --hl-15: var(--dark-hl-15);
    --hl-16: var(--dark-hl-16);
    --code-background: var(--dark-code-background);
}

.hl-0 { color: var(--hl-0); }
.hl-1 { color: var(--hl-1); }
.hl-2 { color: var(--hl-2); }
.hl-3 { color: var(--hl-3); }
.hl-4 { color: var(--hl-4); }
.hl-5 { color: var(--hl-5); }
.hl-6 { color: var(--hl-6); }
.hl-7 { color: var(--hl-7); }
.hl-8 { color: var(--hl-8); }
.hl-9 { color: var(--hl-9); }
.hl-10 { color: var(--hl-10); }
.hl-11 { color: var(--hl-11); }
.hl-12 { color: var(--hl-12); }
.hl-13 { color: var(--hl-13); }
.hl-14 { color: var(--hl-14); }
.hl-15 { color: var(--hl-15); }
.hl-16 { color: var(--hl-16); }
pre, code { background: var(--code-background); }
